
.paymentItem{
	width: 80px;
	height: 80px;
	border-radius:5px;
	
}

.bgGrey{
	/* position:relative;	 */
	/* width:300px */
	background-color: #dcdff7 !important;
}

.button{
	background-color: #5965CE !important;
	color:#ffffff !important;
}

.countdown{
	background-color: #a5acb8 !important;
	/* color:#ffffff !important; */
}

.containerUpload{
	min-height: 250px;
	position: relative;
	padding-bottom: 66.67%;
	display: grid;
	/* background-color:#5965CE !important;  */
}

.receipt{
	width: 100%;
	height: 100%;
	
}

.icon{
	z-index:1000;
	font-size: smaller;
	color: #ffffff;
	background-color: #9fa4cf !important;
}