.button{
	background-color: #5965CE !important;
	color:#ffffff !important;
}

.containerRed{
	background-color: #f5aeae !important;
	/* color:#ffffff !important; */
	max-width:max-content;
	font-size:smaller;
}

.containerGreen{
	background-color: #aef5b9 !important;
	/* color:#ffffff !important; */
	max-width:max-content;
	font-size:smaller;
}